node_modules/
lib/
coverage/

# Android
android/build/
android/.gradle/
android/local.properties
android/.cxx/

# iOS
ios/build/
ios/.build/
ios/.swiftpm/
ios/Pods/

# macOS
.DS_Store

# npm
*.tgz
pack.json
